.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #7d7c7c;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: white;
    text-shadow: 
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000; 
    font-size: 2em;
    font-weight: bold;
}

.non-zero {
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-upload {
  margin: 20px 0;
}

.upload {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  width: 12%; 
  box-sizing: border-box; 
  background-color: #333;
  font-size: 16px;
  color: white;
  border-radius: 5%;
}

.graph-container {
  border: 1px solid black;
}

.text-container {
  margin: 0 auto;
  margin-top: 3%;
  width: 60%; 
  text-align: center;
  background-color: #101214;
  border-radius: 3%;
}

.text-container pre {
  color: white;
  white-space: pre-wrap; 
  word-wrap: break-word; 
  font-size: 18px; 
  line-height: 1.6;
}

.adjacency-matrix-container {
  margin: 0 auto;
  margin-top: 3%;
  width: 30%; /* Make the table 30% wide */
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjacency-matrix {
  border-collapse: collapse; /* Merge borders of adjacent cells */
  width: 100%; /* Make the table take up the full width of the container */
}

.adjacency-matrix th,
.adjacency-matrix td {
  border: 1px solid black; /* Add borders to table cells */
  padding: 8px; /* Add some padding to the cells */
  text-align: center; /* Center-align the text in the cells */
}

.adjacency-matrix th {
  background-color: #f2f2f2; /* Add a background color to the header cells */
}

.adjacency-matrix td {
  background-color: #d8d7d7; /* Add a background color to the header cells */
}

.navbar {
  display: flex;
  justify-content: center; /* Center the buttons */
  width:30%;
  background-color: #333; /* Background color for the navbar */
  padding: 10px; /* Add some padding */
  border-radius: 5px;
}

.navbar button {
  background-color: #444; /* Button background color */
  color: white; /* Button text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add some padding */
  margin: 0 10px; /* Add space between buttons */
  margin-left: 6%;
  margin-right: 6%;
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s; /* Smooth transition for background color */
  font-size: 16px; /* Increase font size */
  border-radius: 5px; /* Add rounded corners */
}

.navbar button:hover {
  background-color: #555; /* Change background color on hover */
}

.navbar button:focus {
  outline: none; /* Remove outline on focus */
  background-color: #666; /* Change background color when focused */
}

.graph-visualizer {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.graph-visualizer svg {
  border: 1px solid black;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.graph-visualizer div:not(.graph-visualizer-col) {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  width: 100%; /* Adjusting width to fit three divs in a row */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  background-color: #333;
  font-size: 16px;
  color: white;
}

.graph-visualizer button,
.graph-visualizer select,
.graph-visualizer input[type="number"],
.graph-visualizer input[type="range"] {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  border-radius: 5px;
}

.graph-visualizer button:hover,
.graph-visualizer select:hover,
.graph-visualizer input[type="number"]:hover,
.graph-visualizer input[type="range"]:hover {
  background-color: #555;
}

.graph-visualizer button:focus,
.graph-visualizer select:focus,
.graph-visualizer input[type="number"]:focus,
.graph-visualizer input[type="range"]:focus {
  outline: none;
  background-color: #666;
}

.graph-visualizer label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.graph-visualizer input[type="range"],
.graph-visualizer input[type="number"] {
  width: 76%;
}

.graph-visualizer-col {
  width:25%;
  height: 67vh;
  overflow-y:scroll;
}


